header {
  display: flex;
  padding: 40px;
}
header a {
  color: black;
  text-decoration: none;
  padding: 7px;
}
#user-nav {
  margin-left: auto;
}
/* css flex */
main {
  width: 100%;
  gap: 30px;
  display: flex;
  /* gap: 200px; */
  padding: 20px 80px;
  /* justify-content: space-between; */
  align-items: end;
}
main > div {
  flex: 1;
}
#right-side img {
  height: 500px;
}

.icons {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
h1 {
  font-size: 60px;
}
#mobile-illustration {
  display: none;
}
header > button {
  display: none;
}
/* mobile first approach to responsive design */
/* media query */
@media (max-width: 840px) {
  header > button {
    display: block;
    margin-left: auto;
  }
  header > nav {
    display: none;
  }
  #right-side {
    display: none;
  }
  main {
    flex-direction: column;
    padding: 0px;
  }
  #mobile-illustration {
    display: block;
  }
  #mobile-illustration img {
    width: 100%;
  }
  .icons {
    margin-top: 20px;
  }
}
